body {
    background-color: black;
    background: url(../../images/pocetnaSlika.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-top:50px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#textBox
{
	background-color:
	font-size:14px;
}
.jumbotron p
{
	font-size:12px;
}
.jumbotron {
   background: rgb(234, 241, 252); 
   background: rgba(234, 241, 252, 0.8); 
}
#jumbotronSetting
{
	padding:20px 5px 25px 5px;
	background: rgb(234, 241, 252); 
    background: rgba(234, 241, 252, 0.5); 
	
}
#col-margins
{
	margin-top:5px;
	margin-bottom:5px;
}
#navbarText
{
	color:white;
	font-weight:bold;
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-size:1.7em;
}
#kontaktPadding
{
	padding-right:10px;
}
